### Quandl experimentation

In [1]:
import pandas as pd
import numpy as np
import quandl
from datetime import datetime, timedelta
import json
import csv

In [2]:
# quandl authentication

quandl.ApiConfig.api_key = "jUKZLy5xi7gGFf3sSF-r"

In [3]:
# explore Quantcha US Equity Historical & Option Implied Volatilities

vols_sample = quandl.get('VOL/MSFT', start_date='2019-03-29', end_date='2019-03-29')
vols_sample

,Hv10,Hv20,Hv30,Hv60,Hv90,Hv120,Hv150,Hv180,Phv10,Phv20,...,IvMean360,IvMeanSkew360,IvCall720,IvPut720,IvMean720,IvMeanSkew720,IvCall1080,IvPut1080,IvMean1080,IvMeanSkew1080
Date,,,,,,,,,,,,,,,,,,,,,
2019-03-29,0.2451,0.1834,0.1733,0.1804,0.2281,0.2927,0.2983,0.3202,0.1879,0.1649,...,0.2212,0.0217,0.2021,0.2647,0.2334,0.0039,0.2021,0.2647,0.2334,0.0039

In [4]:
# create list of column names

col_names = list(vols_sample.columns)

In [5]:
# create dictionary of column numbers corresponding to column headings

col_name_index = {name:idx+1 for idx, name in enumerate(col_names)}

In [6]:
col_name_index

{'Hv10': 1,
 'Hv20': 2,
 'Hv30': 3,
 'Hv60': 4,
 'Hv90': 5,
 'Hv120': 6,
 'Hv150': 7,
 'Hv180': 8,
 'Phv10': 9,
 'Phv20': 10,
 'Phv30': 11,
 'Phv60': 12,
 'Phv90': 13,
 'Phv120': 14,
 'Phv150': 15,
 'Phv180': 16,
 'IvCall10': 17,
 'IvPut10': 18,
 'IvMean10': 19,
 'IvMeanSkew10': 20,
 'IvCall20': 21,
 'IvPut20': 22,
 'IvMean20': 23,
 'IvMeanSkew20': 24,
 'IvCall30': 25,
 'IvPut30': 26,
 'IvMean30': 27,
 'IvMeanSkew30': 28,
 'IvCall60': 29,
 'IvPut60': 30,
 'IvMean60': 31,
 'IvMeanSkew60': 32,
 'IvCall90': 33,
 'IvPut90': 34,
 'IvMean90': 35,
 'IvMeanSkew90': 36,
 'IvCall120': 37,
 'IvPut120': 38,
 'IvMean120': 39,
 'IvMeanSkew120': 40,
 'IvCall150': 41,
 'IvPut150': 42,
 'IvMean150': 43,
 'IvMeanSkew150': 44,
 'IvCall180': 45,
 'IvPut180': 46,
 'IvMean180': 47,
 'IvMeanSkew180': 48,
 'IvCall270': 49,
 'IvPut270': 50,
 'IvMean270': 51,
 'IvMeanSkew270': 52,
 'IvCall360': 53,
 'IvPut360': 54,
 'IvMean360': 55,
 'IvMeanSkew360': 56,
 'IvCall720': 57,
 'IvPut720': 58,
 'IvMean720': 59,
 'IvMeanSkew720': 60,
 'IvCall1080': 61,
 'IvPut1080': 62,
 'IvMean1080': 63,
 'IvMeanSkew1080': 64}

In [7]:
# create json of column name:index pairs for Quantcha Volatility data

#with open('vol_col_names.json', 'w') as fp:
#    json.dump(col_name_index, fp)

In [8]:
# get one year of 90 day realized vols

quandl.get('VOL/MSFT', start_date='2018-03-29', end_date='2019-03-29', column_index='5')

              Hv90
Date
2018-03-29  0.3189
2018-04-02  0.3252
2018-04-03  0.3261
2018-04-04  0.3309
2018-04-05  0.3305
2018-04-06  0.3333
2018-04-09  0.3335
2018-04-10  0.3366
2018-04-11  0.3373
2018-04-12  0.3391
2018-04-13  0.3378
2018-04-16  0.3371
2018-04-17  0.3371
2018-04-18  0.3371
2018-04-19  0.3372
2018-04-20  0.3364
2018-04-23  0.3364
2018-04-24  0.3400
2018-04-25  0.3403
2018-04-26  0.3409
2018-04-27  0.3424
2018-04-30  0.3451
2018-05-01  0.3430
2018-05-02  0.3442
2018-05-03  0.3400
2018-05-04  0.3293
2018-05-07  0.3217
2018-05-08  0.3193
2018-05-09  0.3003
2018-05-10  0.2923
...            ...
2019-02-15  0.3434
2019-02-19  0.3406
2019-02-20  0.3403
2019-02-21  0.3354
2019-02-22  0.3311
2019-02-25  0.3303
2019-02-26  0.3305
2019-02-27  0.3244
2019-02-28  0.3242
2019-03-01  0.3160
2019-03-04  0.3155
2019-03-05  0.3155
2019-03-06  0.3147
2019-03-07  0.3087
2019-03-08  0.3085
2019-03-11  0.2994
2019-03-12  0.2954
2019-03-13  0.2952
2019-03-14  0.2951
2019-03-15  0.2958
2019-03-18  0.2893
2019-03-19  0.2818
2019-03-20  0.2814
2019-03-21  0.2843
2019-03-22  0.2864
2019-03-25  0.2772
2019-03-26  0.2610
2019-03-27  0.2289
2019-03-28  0.2288
2019-03-29  0.2281

[252 rows x 1 columns]

In [9]:
# load dictionary of column_name:column_index pairs for Quantcha Volatility data

with open('data/vol_col_names.json') as json_data:
    vol_col_names = json.load(json_data)

In [10]:
# create a helper function for relative date comparisons

def vol_delta(ticker, date, look_back_days):
    """Provides the 90D stock volatility for the date relative to the date implied by the look back days
    argument. For consistent results, utilize a look_back_days window that is a multiple of 7.
    Output is based on the formula: <current volatility> / <previous volatility>
    Package dependencies: datetime, timedelta
    """
    
    date = datetime.strptime(date, '%Y-%m-%d')
    
    lookback_date = date - timedelta(days=int(look_back_days))
        
    date = str(date)
    date = date[0:10]
    
    lookback_date = str(lookback_date)
    lookback_date = lookback_date[0:10]
    
      
    curr_vol = quandl.get('VOL/'+ticker, start_date=date, end_date=date, column_index='5')
    
    prior_vol = quandl.get('VOL/'+ticker, start_date=lookback_date, end_date=lookback_date, column_index='5')
    
    
    
    output = curr_vol.values / prior_vol.values
    return float(output)

In [11]:
# create a generalized measure delta function

def measure_delta(ticker, date, look_back_days, measure='Hv90'):
    """Provides a relative comparison for a given stock ticker and date, based on an arbitrary look_back_window,
    for any of 64 data itmes from the Quantcha Historical and Implied Volatility API.
    
    INPUTS: 'Ticker', 'YYYY-MM-DD', lookback days (as integer), and measure name.
    For reference, measure names are contained in the dictionary: vol_col_names
    ***NOTE: For best results, utilize a lookback window that is a multiple of 7 days from the given date.
    
    OUPUT: A float, based on the forumla: <measure at date> / <measure at date - lookback days>
    """
    
    date = datetime.strptime(date, '%Y-%m-%d')
    
    lookback_date = date - timedelta(days=int(look_back_days))
        
    date = str(date)
    date = date[0:10]
    
    lookback_date = str(lookback_date)
    lookback_date = lookback_date[0:10]
    
      
    curr_vol = (quandl.get('VOL/'+ticker,
                           start_date=date,
                           end_date=date, 
                           column_index=vol_col_names.get(measure)))
                
    
    prior_vol = (quandl.get('VOL/'+ticker,
                            start_date=lookback_date,
                            end_date=lookback_date,
                            column_index=vol_col_names.get(measure)))
    
    
    
    output = curr_vol.values / prior_vol.values
    return float(output)

In [12]:
# create a helper function for getting a measure from the quantcha / quandl API

def get_vol_measure(ticker, date, measure='Hv90'):
    """Retrieves a value from the Quantcha Historical and Implied Volatility API for a given stock and date.
    
    INPUTS: 'Ticker', 'YYYY-MM-DD', and measure name.
    For reference, measure names are contained in the dictionary: vol_col_names
        
    OUPUT: A float
    """
    
    measure_value = (quandl.get('VOL/'+ticker,
                           start_date=date,
                           end_date=date, 
                           column_index=vol_col_names.get(measure)))
                
    
    return float(measure_value.values)

In [13]:
# create sample function for doing vol comparisons

def vol_delta_90d(ticker, old_date, new_date):
    """Provides the 90D stock volatility for the new date relative to the prior date as a float,
    based on the formula <current volatility> / <previous volatility>"""
    prior_vol = quandl.get('VOL/'+ticker, start_date=old_date, end_date=old_date, column_index='5')
    curr_vol = quandl.get('VOL/'+ticker, start_date=new_date, end_date=new_date, column_index='5')
    output = curr_vol.values / prior_vol.values
    return float(output[0])

In [14]:
measure_delta('SLB', "2019-03-29", 84, measure='IvMeanSkew30')

7.1743119266055055

In [15]:
vol_col_names

{'Hv10': 1,
 'Hv20': 2,
 'Hv30': 3,
 'Hv60': 4,
 'Hv90': 5,
 'Hv120': 6,
 'Hv150': 7,
 'Hv180': 8,
 'Phv10': 9,
 'Phv20': 10,
 'Phv30': 11,
 'Phv60': 12,
 'Phv90': 13,
 'Phv120': 14,
 'Phv150': 15,
 'Phv180': 16,
 'IvCall10': 17,
 'IvPut10': 18,
 'IvMean10': 19,
 'IvMeanSkew10': 20,
 'IvCall20': 21,
 'IvPut20': 22,
 'IvMean20': 23,
 'IvMeanSkew20': 24,
 'IvCall30': 25,
 'IvPut30': 26,
 'IvMean30': 27,
 'IvMeanSkew30': 28,
 'IvCall60': 29,
 'IvPut60': 30,
 'IvMean60': 31,
 'IvMeanSkew60': 32,
 'IvCall90': 33,
 'IvPut90': 34,
 'IvMean90': 35,
 'IvMeanSkew90': 36,
 'IvCall120': 37,
 'IvPut120': 38,
 'IvMean120': 39,
 'IvMeanSkew120': 40,
 'IvCall150': 41,
 'IvPut150': 42,
 'IvMean150': 43,
 'IvMeanSkew150': 44,
 'IvCall180': 45,
 'IvPut180': 46,
 'IvMean180': 47,
 'IvMeanSkew180': 48,
 'IvCall270': 49,
 'IvPut270': 50,
 'IvMean270': 51,
 'IvMeanSkew270': 52,
 'IvCall360': 53,
 'IvPut360': 54,
 'IvMean360': 55,
 'IvMeanSkew360': 56,
 'IvCall720': 57,
 'IvPut720': 58,
 'IvMean720': 59,
 'IvMeanSkew720': 60,
 'IvCall1080': 61,
 'IvPut1080': 62,
 'IvMean1080': 63,
 'IvMeanSkew1080': 64}

In [16]:
get_vol_measure('NFLX', '2019-03-29', measure='Hv30')

0.304

In [17]:
vol_delta_90d("TSLA", "2019-01-02", "2019-03-29")

0.8307667369103582

In [18]:
example = quandl.get('VOL/MSFT', start_date='2018-03-29', end_date='2019-03-29', column_index='5')

In [19]:
type(example)

pandas.core.frame.DataFrame

In [20]:
example.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2018-03-29 to 2019-03-29
Data columns (total 1 columns):
Hv90    252 non-null float64
dtypes: float64(1)
memory usage: 3.9 KB

### Building Data Set

In [39]:
# create list of 'surprise' files

surp_files = (['surp_1q14.csv',
               'surp_2q14.csv',
               'surp_3q14.csv',
               'surp_4q14.csv',
               'surp_1q15.csv',
               'surp_2q15.csv',
               'surp_3q15.csv',
               'surp_4q15.csv',
               'surp_1q16.csv',
               'surp_2q16.csv',
               'surp_3q16.csv',
               'surp_4q16.csv',
               'surp_1q17.csv',
               'surp_2q17.csv',
               'surp_3q17.csv',
               'surp_4q17.csv',
               'surp_1q18.csv',
               'surp_2q18.csv',
               'surp_3q18.csv'])

In [40]:
# create list of 'features' files

features_files = (['features_1q14.csv',
                   'features_2q14.csv',
                   'features_3q14.csv',
                   'features_4q14.csv',
                   'features_1q15.csv',
                   'features_2q15.csv',
                   'features_3q15.csv',
                   'features_4q15.csv',
                   'features_1q16.csv',
                   'features_2q16.csv',
                   'features_3q16.csv',
                   'features_4q16.csv',
                   'features_1q17.csv',
                   'features_2q17.csv',
                   'features_3q17.csv',
                   'features_4q17.csv',
                   'features_1q18.csv',
                   'features_2q18.csv',
                   'features_3q18.csv'])

In [23]:
# read in initial file to start surp_data df

surp_data = pd.read_csv('data/surp_1q14.csv')

In [24]:
# inspect surp_data

surp_data.head()

,ticker_symbol,co_name,unique_earnings_code,factset_sector_num,factset_ind_num,calendar_qtr,fiscal_qtr,adtv_prev_month,report_date,rtn_t+3,...,rtn_t+3_check,mkt_t+3_rtn,rel_t+3_rtn,num_ests_qtr_end,t-7,t-7_high_est,t-7_low_est,est_spread,spread_adj_surp,Unnamed: 26
0,RAMP,"LiveRamp Holdings, Inc.",RAMP.1Q14,3300.0,3305.0,1Q14,2013/4F,14.4,05/15/2014,-22.0,...,-22.0,-0.8,-21.2,4.0,5/8/2014,0.20,0.19,0.01,-58.000,NaN
1,AMBC,"Ambac Financial Group, Inc.",AMBC.1Q14,4800.0,4875.0,1Q14,2014/1F,17.6,05/13/2014,-1.3,...,-1.3,-1.1,-0.2,2.0,5/6/2014,1.01,0.89,0.12,23.333,NaN
2,TCO,"Taubman Centers, Inc.",TCO.1Q14,4800.0,4890.0,1Q14,2014/1F,37.3,04/25/2014,-0.2,...,-0.2,0.2,-0.3,7.0,4/18/2014,0.50,0.23,0.27,19.904,NaN
3,WRI,Weingarten Realty Investors,WRI.1Q14,4800.0,4890.0,1Q14,2014/1F,25.3,04/25/2014,0.3,...,0.3,0.2,0.1,2.0,4/18/2014,0.15,0.13,0.02,19.380,NaN
4,LF,"LeapFrog Enterprises, Inc. Class A",LF.1Q14,1400.0,1435.0,1Q14,2013/4F,6.4,02/13/2014,-3.7,...,-6.3,1.3,-7.5,1.0,2/6/2014,0.17,0.11,0.06,12.833,NaN

In [41]:
"""new_columns =[]

for col in columns:
    if col[-1] == 'F':
        new_columns.append(col)
        
new_columns.insert(0, 'unique_earnings_code')"""

"new_columns =[]\n\nfor col in columns:\n    if col[-1] == 'F':\n        new_columns.append(col)\n        \nnew_columns.insert(0, 'unique_earnings_code')"

In [51]:
# function to facilitate extracting columns with features, tagged with a trailing F

def create_feature_df_index(df):
    """Creates a new Index for extracting columns coded with a trailing 'F'from a dataframe"""
    
    old_columns = list(df.columns)
    new_columns = []
    
    for col in old_columns:
        if col[-1] == 'F':
            new_columns.append(col)
        
    new_columns.insert(0, 'unique_earnings_code')
    ind_obj = pd.Index(new_columns)
    
    return ind_obj

In [44]:
# function to do a clean merge of the surprise and feature dataframes

def clean_feature_bind(surp_df, feature_df, retained_columns):
    """Creates a tidied up df from a surp_df and feature_df, based on an Index object of cols to retain."""
    
    bound_df = pd.merge(surp_df, feature_df[retained_columns], on='unique_earnings_code')
    
    return bound_df

In [45]:
def tidyfy_surp_df(df):
    """Clean up Surp dataframes prior to join"""
    new_cols = ['ticker_symbol',
                 'co_name',
                 'unique_earnings_code',
                 'factset_sector_num',
                 'factset_ind_num',
                 'calendar_qtr',
                 'fiscal_qtr',
                 'adtv_prev_month',
                 'report_date',
                 'eps_est',
                 'eps_actual',
                 'surp_amt',
                 'rtn_t+3',
                 'mkt_t+3_rtn',
                 'rel_t+3_rtn',
                 'num_ests_qtr_end',
                 't-7_high_est',
                 't-7_low_est',
                 'est_spread',
                 'spread_adj_surp']
    
    tidy_df = df[new_cols]
    tidy_df = tidy_df.drop_duplicates()
    
    return tidy_df

In [46]:
def write_merged_frames(surp_lst, features_lst):
    """Create combined dataframes from two lists of dataframe names: surp & features"""
    
    combined_df_lst = []
    
    for s_df, f_df in zip(surp_lst, features_lst):
        #create quarter tag
        tag = s_df[-8:]

        # read surp df
        surp_df = pd.read_csv('data/'+s_df)
        tidy_surp_df = tidyfy_surp_df(surp_df)
        # read feature df
        feature_df = pd.read_csv('data/'+f_df)

        # create list of columns to retain
        retained_cols = create_feature_df_index(feature_df)

        # create combined df
        combined_df = clean_feature_bind(tidy_surp_df, feature_df, retained_cols)
        combined_df.reset_index()

        # write combined_df to a csv file and store in data folder
        combined_df.to_csv('data/combined_'+tag, index=False)
        
        # record df written to a list
        combined_df_lst.append('combined_'+tag)
    
    return combined_df_lst

In [52]:
combined_frames = write_merged_frames(surp_files, features_files)

In [53]:
combined_frames

['combined_1q14.csv',
 'combined_2q14.csv',
 'combined_3q14.csv',
 'combined_4q14.csv',
 'combined_1q15.csv',
 'combined_2q15.csv',
 'combined_3q15.csv',
 'combined_4q15.csv',
 'combined_1q16.csv',
 'combined_2q16.csv',
 'combined_3q16.csv',
 'combined_4q16.csv',
 'combined_1q17.csv',
 'combined_2q17.csv',
 'combined_3q17.csv',
 'combined_4q17.csv',
 'combined_1q18.csv',
 'combined_2q18.csv',
 'combined_3q18.csv']

In [54]:
def stack_frames(sequence):
    sequence = sequence.copy()

    combined_full = pd.concat([pd.read_csv(f'data/{file}', low_memory=False) for file in sequence])
    combined_full = combined_full.drop_duplicates()
    
    combined_full.to_csv('data/combined_full_set.csv')

In [55]:
stack_frames(combined_frames)

### Create Ticker List

In [ ]:
# create list of tickers

tickers = surp_data['ticker_symbol']
tickers = list(tickers)

In [ ]:
# check length of ticker list

len(tickers)

In [ ]:
# create list of unique tickers by passing it through a set

tickers = list(set(tickers))

In [ ]:
len(tickers)

In [ ]:
tickers[0]

In [ ]:
del tickers[0]

In [ ]:
len(tickers)

In [ ]:
def _write_tickers_to_file(ticker_list, filename):
    
    with open(filename, "w") as outfile:
        for tickers in ticker_list:
            outfile.write(tickers)
            outfile.write("\n")

In [ ]:
#_write_tickers_to_file(tickers, 'tickers.csv')

### Quandl API Experimentation

In [ ]:
quandl.ApiConfig.api_key = 'jUKZLy5xi7gGFf3sSF-r'
exr_Hv10 = quandl.get('VOL/EXR', start_date='2013-01-02', end_date='2019-04-01', column_index='1')

In [ ]:
#with open("vol_data/VOL_20190401.csv") as myfile:
#    head = [next(myfile).split(',') for x in range(1)]
#print(head)

In [ ]:
"""with open("vol_data/VOL_20190401.csv") as myfile:
    stock_data = []
    started = False
    for idx, line in enumerate(myfile):
        fields = line.strip().split(',')
        if fields[0] == 'APTV' and fields[1] > '2018-02-09':
            started = True
        if not started:
            continue
                
        if fields[0] in tickers and fields[1] > '2018-01-01' and fields[1] < '2018-12-31':
            stock_data.append(fields)"""

In [ ]:
def _write_data_to_file(data, filename):
    with open(filename, "a") as f:
        writer = csv.writer(f)
        writer.writerows(data)

In [ ]:
#_write_data_to_file(stock_data, "data/stock_vol_data.csv")